body {

  margin: 0;

  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-container {

  margin-left: 260px;

  min-height: 100vh;

  padding: 40px;

  background:
    linear-gradient(
      135deg,
      #020617,
      #0f172a,
      #001b44
    );

  color: white;
}

.dashboard-title {

  font-size: 60px;

  font-weight: bold;

  margin-bottom: 40px;
}

.status-cards {

  display: flex;

  gap: 20px;

  margin-bottom: 50px;
}

.status-card {

  flex: 1;

  padding: 40px;

  border-radius: 24px;

  text-align: center;

  color: white;
}

.status-card h2 {

  font-size: 28px;

  margin-bottom: 20px;
}

.status-card p {

  font-size: 36px;

  font-weight: bold;
}

.pending {

  background: #f59e0b;
}

.approved {

  background: #10b981;
}

.rejected {

  background: #ef4444;
}

.section-title {

  font-size: 42px;

  margin-bottom: 30px;
}

.users-container {

  display: flex;

  flex-direction: column;

  gap: 25px;
}

.user-card {

  background: rgba(30,41,59,0.9);

  padding: 30px;

  border-radius: 24px;
}

.user-card h2 {

  font-size: 40px;

  margin-bottom: 20px;
}

.user-card p {

  font-size: 24px;

  color: #cbd5e1;

  margin-bottom: 10px;
}

.button-group {

  display: flex;

  gap: 15px;

  margin-top: 25px;
}

.approve-btn {

  border: none;

  padding: 14px 24px;

  border-radius: 12px;

  background: #2563eb;

  color: white;

  font-size: 16px;

  cursor: pointer;
}

.reject-btn {

  border: none;

  padding: 14px 24px;

  border-radius: 12px;

  background: #ef4444;

  color: white;

  font-size: 16px;

  cursor: pointer;
}

.empty-message {

  font-size: 22px;

  color: #cbd5e1;
}

.modal-overlay {

  position: fixed;

  inset: 0;

  background: rgba(0,0,0,0.7);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 9999;
}

.modal {

  width: 500px;

  background: #111827;

  padding: 35px;

  border-radius: 24px;
}

.modal h2 {

  margin-bottom: 25px;

  font-size: 32px;
}

.modal textarea {

  width: 100%;

  height: 160px;

  border: none;

  border-radius: 14px;

  padding: 15px;

  background: #1e293b;

  color: white;

  font-size: 16px;
}

.modal-buttons {

  display: flex;

  justify-content: flex-end;

  gap: 15px;

  margin-top: 25px;
}

.search-input {

  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 12px;

  background: #1e293b;

  color: white;

  font-size: 16px;

  margin-bottom: 25px;

  outline: none;
}

.search-input::placeholder {

  color: #94a3b8;
}