<div class="sidebar">

  <div>

    <div class="logo-section">

      <h1>
        QueryPulse
      </h1>

      <p>
        Admin Panel
      </p>

    </div>

    <div class="menu-section">

      <a
        routerLink="/admin-dashboard"
        class="menu-item active"
      >
        Dashboard
      </a>
      <a routerLink="/database-management" class="menu-item">Database Management</a>

    </div>

  </div>

  <div class="bottom-section">

    <button
      class="logout-btn"
      (click)="logout()"
    >
      Logout
    </button>

  </div>

</div>